<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap-Basis-Vorlage</title>

    <!-- Bootstrap -->
    <!-- Das neueste kompilierte und minimierte CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optionales Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Das neueste kompilierte und minimierte JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
      
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Titel" src="https://gcsc.uni-frankfurt.de/biogas-network.de/abgeschlossene-projekte/methanoquant/partner/btu-cottbus-1/BTULogoStandardversiondeutschJPGSW.jpg" width="138,15" height="23,67">
                        </a>
                    </div>
                </div>
            </nav>
        </header>
      
      
        <main> 
            <div class="text-center">
                <img src="{{ url_for('video_feed') }}">
            </div>
        </main>
      
      
      
      
      
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2021 Copyright:
                <a class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)" href="https://www.b-tu.de/">BTU Cottbus-Senftenberg></a>
            </div>
            <!-- Copyright -->
        </footer>
      
        
      
       

    
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
      
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      
      <script src="../../dist/js/bootstrap.min.js"></script>
      
      <pb-pia-extension-container><pb-notification-frame-container class="pb-notification-frame-container out"></pb-notification-frame-container><pb-sidebar-frame-container class="pb-sidebar-frame-container out"></pb-sidebar-frame-container></pb-pia-extension-container>
      
  </body>
</html>